*{
    border:0;
    padding:0;
    margin:0;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
}

.hidden{
    display: none;
}
canvas{
    position: relative;
    top: 100px;
    margin: auto;
    border: 1px solid gray;
    background: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#controls{
    position: absolute;
    top:100px;
    left:5px;
    padding:20px;
    border: 1px solid gray;
    background-color: white;
}

.lightBorder {
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    margin: 4px;
}

#clearCanvas {
    margin-top: 30px;
}
